<div class="container-fluid">

  <div class="col-sm-12 col-md-6 col-lg-1">
    <p>
      Comprei uma moto por um sonho pessoal...Um dia vou vendê-la por um sonho em comum...Conheci pessoas que me ensinaram algo
      e têm o mesmo espírito...Conheci outros que me alegro de vos ter esquecido...Já me molhei...Tive frio...Tive calor...Eu
      ri muito dentro do capacete...Já falei mil vezes comigo mesmo...Cantei e gritei de alegria como um louco...E sim...às
      vezes chorei...Já vi lugares maravilhosos e vivi experiências inesquecíveis...Muitas vezes fiz curvas que até o valentino
      ficaria orgulhoso... Outras vezes fiz curvas no terror...Parei mil vezes para ver uma vista... Eu falei com perfeitos
      desconhecidos, e esqueci de pessoas que vejo todos os dias... Saí com os demônios dentro... E voltei para casa com
      a paz no coração... Todas vezes pensei que era perigoso, sabendo que o significado de coragem é avançar mesmo sentindo
      medo...Todas as vezes que subo na minha moto, penso no quão maravilhoso é... Parei de falar com quem não entende...
      E passo as horas a fazer isto com alguém cuja comunicação principal é através de gestos... Gastei dinheiro que não
      podia, com renúncias e sacrifícios...Mas todas essas coisas não valem um momento em que estou em cima da minha moto...
      Não é um meio de transporte nem um pedaço de ferro...É a parte perdida da minha alma e do meu espírito...E a quem me
      diz: Tens de vender, tens de crescer e ser uma pessoa séria...Eu não respondo... Simplesmente baixo a cabeça E sorrio...
    </p>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-1">
    <p>
      Comprei uma moto por um sonho pessoal...Um dia vou vendê-la por um sonho em comum...Conheci pessoas que me ensinaram algo
      e têm o mesmo espírito...Conheci outros que me alegro de vos ter esquecido...Já me molhei...Tive frio...Tive calor...Eu
      ri muito dentro do capacete...Já falei mil vezes comigo mesmo...Cantei e gritei de alegria como um louco...E sim...às
      vezes chorei...Já vi lugares maravilhosos e vivi experiências inesquecíveis...Muitas vezes fiz curvas que até o valentino
      ficaria orgulhoso... Outras vezes fiz curvas no terror...Parei mil vezes para ver uma vista... Eu falei com perfeitos
      desconhecidos, e esqueci de pessoas que vejo todos os dias... Saí com os demônios dentro... E voltei para casa com
      a paz no coração... Todas vezes pensei que era perigoso, sabendo que o significado de coragem é avançar mesmo sentindo
      medo...Todas as vezes que subo na minha moto, penso no quão maravilhoso é... Parei de falar com quem não entende...
      E passo as horas a fazer isto com alguém cuja comunicação principal é através de gestos... Gastei dinheiro que não
      podia, com renúncias e sacrifícios...Mas todas essas coisas não valem um momento em que estou em cima da minha moto...
      Não é um meio de transporte nem um pedaço de ferro...É a parte perdida da minha alma e do meu espírito...E a quem me
      diz: Tens de vender, tens de crescer e ser uma pessoa séria...Eu não respondo... Simplesmente baixo a cabeça E sorrio...
    </p>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-1">
    <p>
      Comprei uma moto por um sonho pessoal...Um dia vou vendê-la por um sonho em comum...Conheci pessoas que me ensinaram algo
      e têm o mesmo espírito...Conheci outros que me alegro de vos ter esquecido...Já me molhei...Tive frio...Tive calor...Eu
      ri muito dentro do capacete...Já falei mil vezes comigo mesmo...Cantei e gritei de alegria como um louco...E sim...às
      vezes chorei...Já vi lugares maravilhosos e vivi experiências inesquecíveis...Muitas vezes fiz curvas que até o valentino
      ficaria orgulhoso... Outras vezes fiz curvas no terror...Parei mil vezes para ver uma vista... Eu falei com perfeitos
      desconhecidos, e esqueci de pessoas que vejo todos os dias... Saí com os demônios dentro... E voltei para casa com
      a paz no coração... Todas vezes pensei que era perigoso, sabendo que o significado de coragem é avançar mesmo sentindo
      medo...Todas as vezes que subo na minha moto, penso no quão maravilhoso é... Parei de falar com quem não entende...
      E passo as horas a fazer isto com alguém cuja comunicação principal é através de gestos... Gastei dinheiro que não
      podia, com renúncias e sacrifícios...Mas todas essas coisas não valem um momento em que estou em cima da minha moto...
      Não é um meio de transporte nem um pedaço de ferro...É a parte perdida da minha alma e do meu espírito...E a quem me
      diz: Tens de vender, tens de crescer e ser uma pessoa séria...Eu não respondo... Simplesmente baixo a cabeça E sorrio...
    </p>


  </div>